# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Raw / processed large data
data/raw/*
data/processed/*
*.csv.gz
*.duckdb
*.db
*.parquet

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model binaries
models/*.joblib
models/*.pkl

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log